/**
RESET CSS
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	width:100%;/*--mise en % de la largeur de page-*/
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
FIN RESET CSS
 */
 
body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:rgba(50,50,50,1.00);
 }
 
.both {
    clear:both;
}
 
.container {
    max-width: 980px;
    width:100%;
    margin:auto;
    padding:20px;
}

#entete {
	background-color: rgba(255,255,255,0.5);
	background-image: url(images/motif-body3.png);
    width: 100%;
    float: left;
}

.titrepage {
	display:block;
    font-family: 'Yesteryear', cursive;
    font-weight:400;
    font-size:45px;
    margin-bottom:30px;
}

.titrepage small {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 28px;
	font-weight:500;
    color: rgba(52,122,131,1.00); background-color: rgba(255,255,255,1.0); 
    padding: 5px 10px 10px 10px;
}




/*----------------NAVIGATION HORIZONTALE----------------------*/

#navigation {
    height:65px;
}





/* ------------------- MENU HAUT-------------------------------*/

#menu {
    width:600px;
    margin-right:20px; 
    float:left;
    height:25px;
}

#menu ul {
    list-style-type:none;
}

#menu ul li {
	display:inline;
}

#menu ul li a {
	margin-right:5px;
    display:block;
    float:left;
    height:30px;
    padding: 35px 20px 0 20px;
    text-decoration:none;
    color:rgba(255,255,255,1.00);
    background-color:rgba(52,122,131,1.00);
    background-repeat:no-repeat;
    background-position:center 8px;
    transition: background-position 0.2s linear;
}

#menu ul li a:hover {
    background-position:center 5px;
    color:rgba(52,122,131,1.00);
    background-color:rgba(255,255,255,1.00);
}



/* -------------------- class pictos ----------------------- */

#menu ul li a.emploi {
	background-image: url(images/picto-emploi.png);
}
	
#menu ul li a.inspiration {
	background-image: url(images/picto-inspiration.png);
}
	
#menu ul li a.page {
	background-image: url(images/picto-mise-en-page.png);
}
	
#menu ul li a.typo{
	background-image: url(images/picto-typo.png);
}


	
/* ---------------- class pictossurvolée ------------------ */

#menu ul li a.emploi:hover {
	background-image: url(images/picto-emploi01.png);
}
	
#menu ul li a.inspiration:hover {
	background-image: url(images/picto-inspiration01.png);
}
	
#menu ul li a.page:hover {
	background-image: url(images/picto-mise-en-page01.png);
}
	
#menu ul li a.typo:hover {
	background-image: url(images/picto-typo01.png);
}

#menu-mobile {
    display: none;
}




/* ------------------- Liens sociaux-------------------------------*/
#sociaux {
    width:360px; 
    float:left;
    margin-top:10px;
}

#sociaux ul {
    list-style-type:none;
}

#sociaux ul li {
	display:inline;
}

#sociaux ul li a {
	margin-right:5px;
    display:block;
    float:left;
    height:35px;
    padding-top:15px;
    width:50px;
    text-align:center;
    border-radius:25px;
    text-decoration:none;
    color:rgba(255,255,255,1.00);
    background-color:rgba(52,122,131,1.00);
    font-weight:700;
}

#sociaux ul li a:hover {
    color:rgba(52,122,131,1.00);
    background-color:rgba(255,255,255,1.00);
}

/* FIN NAVIGATION HORIZONTALE----------------------*/




/*----------------CONTENU----------------------*/

#contenu {
	width: 59.18367346938776%; /* 580 / 980 */
	padding:1.02040816326531%;
	float: left;
	margin-right: 2.04081632653061%;
	min-height: 400px;
	background-color:rgba(52,122,131,1.00);
}

#contenu2 {
    width: 97%;
    padding:1.5%;
    background-color: rgba(255,255,255,0.9);
    min-height: 400px;
    font-family: Arial, sans-serif;
}

#contenu2 h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:24px;
    margin-bottom:20px;
    color:rgba(52,122,131,1.00);
}


/* Il fallait rajouter "img" */

#contenu2 #la-une img {
    width: 100%;
}

#contenu2 .actu {
    font-size: 15px;
    width: 32%; /* 176px */
    margin-right: 1%;
    float: left;
    color: rgba(54,54,54,1.00);
    margin-top:10px;
}

#contenu2 .actu img {
    width: 100%;
}

#contenu2 .actu h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:20px;
    color:rgba(52,122,131,1.00);
    margin-bottom:10px;
}

#contenu2 .actu a {
    display: block;
    padding:5px;
    float:right;
    background-color:rgba(52,122,131,0.2);
    color:rgba(58,58,58,1.0);
    text-decoration:none;
}

#contenu2 .actu a:hover {
    background-color:rgba(52,122,131,1.0);
    color:rgba(255,255,255,1.0);
}

#contenu2 .actu p a {
    background-color: transparent;
    padding: 0;
    float: none;
    display: inline;
}


/*----------------WIDGET----------------------*/
aside {
    
    width:36.73469387755102%; /* 360 / 980 */
    float:left;
}



.widget h3 {
	font-size:18px;
	background-color: rgba(52,122,131,1.00);
	padding: 10px 10px 10px 5px;
	margin: 25px 0 10px 0;
	color: rgba(255,255,255,1.00);
}

.widget p {
	color: rgba(255,255,255,1.00);
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 0 10px 0 0 ;
}

.widget img {
    float:left;
    margin-right:10px;
}
 
.widget ul {
	list-style-image: url(images/motif-body3.png);
	list-style-position: inside;
}

.widget a {
	color: rgba(255,255,255,1.00);
	font-family: Arial, sans-serif;
	font-size: 14px;
	text-decoration:none;
} 

.widget a:hover {
	color: rgba(255,255,255,0.5);
} 



/*tableau*/
.widget table {
	width: 69.44444444444444%;
	margin: 0 auto;
	border: 1px dotted rgba(52,122,131,1.00);
	border-spacing: 1px 1px;
	border-collapse: separate;
}

.widget table tr td {
	padding:3px;
	text-align: center;
	color: rgba(255,255,255,1.00);
}

.widget table tr td.active {
	color: rgba(255,255,255,1.00);
	background-color: rgba(52,122,131,1.00);
	font-weight: bold;
}

.widget table tr th {
	padding:3px;
	background-color: rgba(255,255,255,1.00);
	color: rgba(52,122,131,1.00);
	font-style: italic;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}


/*----------------FOOTER----------------------*/
	
#footer {
	background-color: rgba(255,255,255,0.5);
	background-image: url(images/motif-body3.png);
	min-height:50px;
}




/* -------------- Requête de Médias ------------ */

@media all and (max-width: 1100px) {
    
    #sociaux {
        display: none;
    }
}


/* ------------------ Tablette -------------- */

    @media all and (max-width: 768px) {
    
    
    
/* --------------- Header -------------------- */
    
    #entete {
        width: 98%;
        padding-right: 150px;
    }
    
    .titrepage {
        width: 100%;    
    }    
        
    .titrepage small {
        float: left;
        width: 90%;     
    }
    
    
    body #menu ul {
    width: 100%;
       border: 1px solid green;
        
    }
    
    #sociaux {
        display: none;
    }
    
   

    #contenu {
        width: 90%;
        margin-top: 10px;
    }
        
    #menu {
        display: none;
    }
        
    #menu-mobile {
        display: block;
        width:100%;
        margin-right:20px; 
        float:left;
    }

    #menu-mobile ul {
        list-style-type:none;
        margin-top: 10px;
    }

    #menu-mobile ul li {
        display:inline;
    }

    #menu-mobile ul li a {
        margin-right:5px;
        margin-bottom: 3px;
        margin-top: 3px;
        display:block;
        float:left;
        height:25px;
        width: 45%;
        padding: 25px 0 10px 0;
        text-decoration:none;
        color:rgba(255,255,255,1.00);
        background-color:rgba(52,122,131,1.00);
        background-repeat:no-repeat;
        background-position:center 8px;
        transition: background-position 0.2s linear;
        text-align: center;
    }

    #menu-mobile ul li a:hover {
        background-position:center 5px;
        color:rgba(52,122,131,1.00);
        background-color:rgba(255,255,255,1.00);
    }
        
        
/* ----------------- Container -------------- */    
    .container {       
        width:768px;
        margin:auto;
        padding:20px;
    }
    
    

    
/* ------------------- Aside ----------------- */
    
    aside {
        display: none;
    }
    



/* -------------------- Footer --------------- */

    #footer {
        display: none;
    }

    

        
        
        
}

















